/*==========  css resets  ================*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
*, *:before, *:after {
	padding: 0;
	margin: 0;
}
/*========================================*/

/*================ grid ==================*/
#container {
	width: 100%;
}

[class*='item-'] {
	float: left;
	width: 25%;
	height: 150px;
	padding: 3px;
	overflow: hidden;
}

/*========================================*/