/*==========  css resets  ================*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
/*========================================*/

/*================ grid ==================*/
.container {
	width: 100%;
}



[class*='item-'] {
	float: left;
	width: 25%;
	height: 50px;
	border: 1px solid black;
	margin: 3px;
}

/*========================================*/





/*==========  css   ================*/


/*========================================*/